# Binance Trader that makes me money

__Insert your Futures Testnet Credentials here__:

In [1]:
api_key = "1bb7096938ecb91287b19692ce9de6d6b5e32f9deca12cbaf904148d58b61491"
secret_key = "c22c75bdef3016220006b484a14b2ec48654b2f5200f48fb8162bccf764efc5d"

In [2]:
from binance.client import Client
from triple_sma_cross_trader import FuturesTrader

In [3]:
binance_client = Client(api_key = api_key, api_secret = secret_key, tld = "com", testnet = True)
symbol = "BTCUSDT"
bar_length = "1m"
sma_s = 10
sma_m = 20
sma_l = 50
units = 0.001
position = 0
leverage = 10
trader = FuturesTrader(client = binance_client, symbol = symbol, bar_length = bar_length,
                       sma_s = sma_s, sma_m = sma_m, sma_l = sma_l, 
                       units = units, position = position, leverage = leverage)
trader.start_trading(historical_days = 1/24)

start_trading: IN

get_most_recent: IN

get_most_recent: OUT

start_trading: OUT

In [4]:
#trader.stop_trading()

In [8]:
trader.prepared_data

                       Close     SMA_S      SMA_M      SMA_L  position
Date
2022-12-15 02:49:00  17677.1  17679.85  17673.050  17660.212         1
2022-12-15 02:50:00  17677.1  17679.55  17673.715  17660.838         1
2022-12-15 02:51:00  17687.3  17680.88  17674.905  17661.514         1
2022-12-15 02:52:00  17685.2  17680.99  17676.045  17662.492         1
2022-12-15 02:53:00  17691.9  17681.63  17677.545  17663.654         1
2022-12-15 02:54:00  17701.5  17683.28  17679.745  17665.504         1
2022-12-15 02:55:00  17700.0  17685.21  17681.570  17667.034         1
2022-12-15 02:56:00  17710.0  17688.81  17684.045  17668.708         1
2022-12-15 02:57:00  17713.2  17692.42  17686.050  17670.528         1
2022-12-15 02:58:00  17714.5  17695.78  17687.985  17672.134         1
2022-12-15 02:59:00  17717.0  17699.77  17689.810  17673.674         1
2022-12-15 03:00:00  17711.3  17703.19  17691.370  17675.086         1
2022-12-15 03:01:00  17721.3  17706.59  17693.735  17676.972         1
2022-12-15 03:02:00  17715.1  17709.58  17695.285  17678.618         1
2022-12-15 03:03:00  17719.0  17712.29  17696.960  17680.146         1
2022-12-15 03:04:00  17718.8  17714.02  17698.650  17680.728         1
2022-12-15 03:05:00  17724.3  17716.45  17700.830  17682.296         1
2022-12-15 03:06:00  17723.8  17717.83  17703.320  17683.764         1

....define_strategy: IN

define_strategy: OUT

execute_trades: IN

execute_trades: OUT

..............define_strategy: IN

define_strategy: OUT

execute_trades: IN

execute_trades: OUT

....

In [6]:
#trader.data

..............define_strategy: IN

define_strategy: OUT

execute_trades: IN

report_trade: IN



----------------------------------------------------------------------------------------------------
2022-12-15 03:00:00.771000 | GOING LONG
2022-12-15 03:00:00.771000 | Base_Units = 0.001 | Quote_Units = 17.7172 | Price = 17717.2
2022-12-15 03:00:00.771000 | Profit = 0 | CumProfits = -0.00709
----------------------------------------------------------------------------------------------------

report_trade: OUT

execute_trades: OUT

................define_strategy: IN

define_strategy: OUT

execute_trades: IN

execute_trades: OUT

................define_strategy: IN

define_strategy: OUT

execute_trades: IN

execute_trades: OUT

...............define_strategy: IN

define_strategy: OUT

execute_trades: IN

execute_trades: OUT

.............define_strategy: IN

define_strategy: OUT

execute_trades: IN

execute_trades: OUT

.......define_strategy: IN

define_strategy: OUT

execute_trades: IN

execute_trades: OUT

........