In [2]:
import statsmodels.tsa.stattools as ts
import numpy as np
import pandas as pd

In [7]:
btc_data = pd.read_csv("../data/BTCUSDT-1h.csv")
eth_data = pd.read_csv("../data/ETHUSDT-1h.csv")

In [8]:
df = pd.DataFrame({"btc":btc_data["Close"],"eth":eth_data["Close"]})
df.dropna(inplace=True)

In [9]:
df.tail()

            btc      eth
46977  16570.14  1202.65
46978  16568.60  1202.34
46979  16548.28  1200.10
46980  16520.81  1196.19
46981  16542.40  1196.13

In [10]:
x1=df['btc']
y1=df['eth']
coin_result = ts.coint(x1, y1)

In [11]:
coin_result

(-2.460911963242719,
 0.29657463434552933,
 array([-3.89667313, -3.33626006, -3.04454028]))

In [15]:
z = df['btc'] + coin_result[0] * df['eth'] + coin_result[1]