In [1]:
from pytrends.request import TrendReq
import pandas as pd

In [31]:
pytrends = TrendReq(hl='en-US', tz=0)
kw_list =["Bitcoin"]
durations = [
    "2017-1-1 2017-6-30",
    "2017-7-1 2017-12-31",
    "2018-1-1 2018-6-30",
    "2018-7-1 2018-12-31",
    "2019-1-1 2019-6-30",
    "2019-7-1 2019-12-31",
    "2020-1-1 2020-6-30",
    "2020-7-1 2020-12-31",
    "2021-1-1 2021-6-30",
    "2021-7-1 2021-12-31",
    "2022-1-1 2022-6-30",
    "2022-7-1 2022-12-31",
]

dfs = []
for duration in durations:
    pytrends.build_payload(
        kw_list=kw_list,
        cat=0,
        timeframe=duration,
        geo="",
        gprop=""
    )
    df = pytrends.interest_over_time()
    dfs.append(df)

In [32]:
concat_df = pd.concat(dfs,axis = 0)

In [28]:
concat_df.to_csv("../data/bitcoin_google_trend.csv")

In [34]:
import datetime

In [36]:
concat_df

            Bitcoin  isPartial
date
2017-01-01       16      False
2017-01-02       26      False
2017-01-03       25      False
2017-01-04       27      False
2017-01-05       34      False
...             ...        ...
2022-12-27       35      False
2022-12-28       39      False
2022-12-29       36      False
2022-12-30       35      False
2022-12-31       30      False

[2191 rows x 2 columns]

In [40]:
concat_df["timestamp"] = concat_df.index

In [41]:
concat_df

            Bitcoin  isPartial  timestamp
date
2017-01-01       16      False 2017-01-01
2017-01-02       26      False 2017-01-02
2017-01-03       25      False 2017-01-03
2017-01-04       27      False 2017-01-04
2017-01-05       34      False 2017-01-05
...             ...        ...        ...
2022-12-27       35      False 2022-12-27
2022-12-28       39      False 2022-12-28
2022-12-29       36      False 2022-12-29
2022-12-30       35      False 2022-12-30
2022-12-31       30      False 2022-12-31

[2191 rows x 3 columns]

In [46]:
concat_df["timestamp"] = concat_df.index.astype("int64") // 10 ** 6

In [48]:
concat_df.index = concat_df["timestamp"]

In [50]:
concat_df.pop("timestamp")

timestamp
1483228800000    1483228800000
1483315200000    1483315200000
1483401600000    1483401600000
1483488000000    1483488000000
1483574400000    1483574400000
                     ...
1672099200000    1672099200000
1672185600000    1672185600000
1672272000000    1672272000000
1672358400000    1672358400000
1672444800000    1672444800000
Name: timestamp, Length: 2191, dtype: int64

In [55]:
concat_df.to_csv("../data/bitcoin_google_trend.csv")