In [1]:
import pandas as pd
import numpy as np
import tr_utils

In [2]:
data = pd.read_csv("../data/BTCUSDT-1d.csv")

In [5]:
data["return"] = data["Close"]/data["Close"].shift()-1

In [6]:
data["dir"] = data["return"] > 0

In [8]:
data["dir"].value_counts()

True     1011
False     952
Name: dir, dtype: int64

In [11]:
fix_data = tr_utils.fix_sampling_rebalance(cat_length=2000,data=data,target_col="dir")

In [13]:
under_data = tr_utils.under_sampling_rebalance(data=data,target_col="dir")
under_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1904 entries, 590 to 1784
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     1904 non-null   int64
 1   Open                          1904 non-null   float64
 2   High                          1904 non-null   float64
 3   Low                           1904 non-null   float64
 4   Close                         1904 non-null   float64
 5   Volumn                        1904 non-null   float64
 6   Close Time                    1904 non-null   int64
 7   Quote Asset Volumn            1904 non-null   float64
 8   Number of Trades              1904 non-null   int64
 9   Taker Buy Base Asset Volumn   1904 non-null   float64
 10  Taker Buy Quote Asset Volumn  1904 non-null   float64
 11  Ignore                        1904 non-null   float64
 12  Date Time                     1904 non-null   object
 13  return                        1903 non-null   float64
 14  dir                           1904 non-null   bool
dtypes: bool(1), float64(10), int64(3), object(1)
memory usage: 225.0+ KB

In [14]:
over_data = tr_utils.over_sampling_rebalance(data=data,target_col="dir")
over_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2022 entries, 371 to 959
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     2022 non-null   int64
 1   Open                          2022 non-null   float64
 2   High                          2022 non-null   float64
 3   Low                           2022 non-null   float64
 4   Close                         2022 non-null   float64
 5   Volumn                        2022 non-null   float64
 6   Close Time                    2022 non-null   int64
 7   Quote Asset Volumn            2022 non-null   float64
 8   Number of Trades              2022 non-null   int64
 9   Taker Buy Base Asset Volumn   2022 non-null   float64
 10  Taker Buy Quote Asset Volumn  2022 non-null   float64
 11  Ignore                        2022 non-null   float64
 12  Date Time                     2022 non-null   object
 13  return                        2021 non-null   float64
 14  dir                           2022 non-null   bool
dtypes: bool(1), float64(10), int64(3), object(1)
memory usage: 238.9+ KB

In [16]:
over_data.describe()

,Open Time,Open,High,Low,Close,Volumn,Close Time,Quote Asset Volumn,Number of Trades,Taker Buy Base Asset Volumn,Taker Buy Quote Asset Volumn,Ignore,return
count,2.022000e+03,2022.000000,2022.000000,2022.000000,2022.000000,2022.000000,2.022000e+03,2.022000e+03,2.022000e+03,2022.000000,2.022000e+03,2022.000000,2021.000000
mean,1.587737e+12,19386.401889,19920.836771,18755.230035,19375.721830,68385.374450,1.587823e+12,1.457664e+09,1.227778e+06,34016.267129,7.214423e+08,1251.799060,0.000580
std,4.901731e+10,16715.211818,17170.932122,16174.383825,16698.395575,71808.666549,4.901731e+10,1.779723e+09,1.602131e+06,35562.759333,8.790196e+08,6168.256639,0.040926
min,1.502928e+12,3188.010000,3276.500000,2817.000000,3189.020000,228.108068,1.503014e+12,9.778657e+05,2.153000e+03,56.190141,2.413638e+05,0.000000,-0.395048
25%,1.544940e+12,7279.257500,7437.000000,7076.565000,7264.322500,30495.246141,1.545026e+12,2.474742e+08,2.543985e+05,15581.351072,1.268907e+08,0.000000,-0.017266
50%,1.587730e+12,10552.600000,10858.440000,10200.000000,10553.275000,47199.967419,1.587816e+12,5.730060e+08,6.478340e+05,23520.008700,2.840976e+08,0.000000,0.000014
75%,1.630174e+12,31098.267500,32207.147500,29484.402500,30850.130000,76804.918143,1.630260e+12,2.245705e+09,1.525079e+06,37877.884589,1.112109e+09,0.000000,0.017838
max,1.672445e+12,67525.820000,69000.000000,66222.400000,67525.830000,760705.362783,1.672531e+12,1.475838e+10,1.453060e+07,374775.574085,7.271201e+09,76007.970079,0.225014