In [ ]:
import feature_manager as fma
import matplotlib.pyplot as plt
from ta import ta_backtester as tb

### Import Data

In [ ]:
fm = fma.FeatureManager("trade_signal")
fm.import_data("BTCUSDT",["15m","1h","4h","1d","1w","1mo"])
m15,h1,h4,d,w, mo = fm.dfs[0],fm.dfs[1],fm.dfs[2],fm.dfs[3],fm.dfs[4],fm.dfs[5]

### Backtest MACD

In [ ]:
df = tb.backtest_macd_combination(df=h1,n_last=100)

In [ ]:
df.nlargest(10,"precise_n")

### Backtest RSI

In [ ]:
df = tb.rsi_backtest(data=h1,n_last=1000,period=14)

In [18]:
df = tb.backtest_rsi_combination(df=m15,n_last=300,period_min=3,period_max=30)

Calculating RSI. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [19]:
df.nlargest(10,"sharpe_n")

,period,tp,fp,tn,fn,duration,mean_p,std_p,mean_n,std_n,recall_p,recall_n,n,acc,precise_p,precise_n,sharpe_p,sharpe_n
404,29,1,0,3,0,28,0.000697,NaN,0.013809,0.001085,0.003333,0.010000,4,1.000000,1.000000,1.0,NaN,12.721610
432,30,1,0,3,0,28,0.000697,NaN,0.013809,0.001085,0.003333,0.010000,4,1.000000,1.000000,1.0,NaN,12.721610
86,14,9,4,2,0,10,0.001282,0.003235,0.001719,0.000138,0.030000,0.006667,15,0.733333,0.692308,1.0,0.396363,12.479423
77,14,9,6,2,0,1,-0.000002,0.001830,0.001431,0.000133,0.030000,0.006667,17,0.647059,0.600000,1.0,-0.001346,10.743927
433,30,1,0,3,0,29,0.000855,NaN,0.013775,0.001856,0.003333,0.010000,4,1.000000,1.000000,1.0,NaN,7.421130
79,14,9,6,2,0,3,0.000381,0.003361,0.001151,0.000165,0.030000,0.006667,17,0.647059,0.600000,1.0,0.113223,6.967822
376,28,1,0,3,0,27,0.000627,NaN,0.013104,0.001887,0.003333,0.010000,4,1.000000,1.000000,1.0,NaN,6.942702
403,29,1,0,3,0,27,0.000627,NaN,0.013104,0.001887,0.003333,0.010000,4,1.000000,1.000000,1.0,NaN,6.942702
431,30,1,0,3,0,27,0.000627,NaN,0.013104,0.001887,0.003333,0.010000,4,1.000000,1.000000,1.0,NaN,6.942702
78,14,10,5,2,0,2,0.000288,0.002318,0.002389,0.000376,0.033333,0.006667,17,0.705882,0.666667,1.0,0.124206,6.353811