In [4]:
import pandas as pd
import numpy as np
data = [(3,5,7),(2,4,6),(5,8,9)]
data2 = [[3,5,7],[2,4,6],[5,8,9]]

In [2]:
df = pd.DataFrame(data,columns = ['A','B','C'])

In [5]:
df2 =pd.DataFrame(data2,columns=['A','B','C'])

In [6]:
df2

   A  B  C
0  3  5  7
1  2  4  6
2  5  8  9

In [8]:
df2.values.tolist()

[[3, 5, 7], [2, 4, 6], [5, 8, 9]]

In [9]:
df2 = df.apply(lambda x: x+10)

In [10]:
df2

    A   B   C
0  13  15  17
1  12  14  16
2  15  18  19

In [26]:
df['B'] = df['B'].map(lambda y: y/2)
df

   A      B  C
0 -1  0.625  7
1 -2  0.500  6
2  1  1.000  9

In [17]:
df

   A    B  C
0 -1  2.5  7
1 -2  2.0  6
2  1  4.0  9

In [22]:
df2 = df.assign(B=lambda df: (df.A+df.B)/2)

In [25]:
df2

   A     B  C
0 -1  0.75  7
1 -2  0.00  6
2  1  2.50  9

In [27]:
df

   A      B  C
0 -1  0.625  7
1 -2  0.500  6
2  1  1.000  9

In [29]:
def add(a,b,c):
    return a+b+c

In [32]:
add(1,2,3)

6

In [33]:
df['add'] = df.apply(lambda row: add(row['A'], row['B'],row['C']), 
    axis=1)

In [34]:
df

   A      B  C     add
0 -1  0.625  7   6.625
1 -2  0.500  6   4.500
2  1  1.000  9  11.000

In [35]:
a = [(1,2),(3,4),(5,6)]

In [36]:
import pandas as pd

In [37]:
b = pd.DataFrame(a)

In [38]:
b

   0  1
0  1  2
1  3  4
2  5  6

In [39]:
a= [(True,False),(False,False),(True,True)]

In [40]:
b = pd.DataFrame(a)

In [41]:
b

       0      1
0   True  False
1  False  False
2   True   True

In [42]:
ran_bool = (randint(0,99) < 50)

NameError: name 'randint' is not defined

In [43]:
from random import randint

In [49]:
ran_bool = (randint(0,99) < 50)
ran_bool

True