In [1]:
import datetime

In [4]:
filename = "../logs/report/{}.txt".format(datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
f = open(filename,'w')
print('whatever', file=f)

In [5]:
print("Helloworld", file=None)

Helloworld

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(data = [[1,3],[2,4]])

In [8]:
df

   0  1
0  1  3
1  2  4

In [14]:
df.value_counts().index

MultiIndex([(1, 3),
            (2, 4)],
           names=[0, 1])